<style>
    .spanTradeMark {
        content: "\00AE";
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="header" id="head">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                @*<a href="index.html"><img src="~/Content/images/logo.png" alt="" /></a>*@
                @*<a href="#"><img src="https://www.freelogoservices.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khvaDqxJNmh7NwXs1M3EMoAJtliEohvtj...fo+" alt="" /></a>*@
                <a href="#"><img src="~/Content/images/logo4-resize.png" style="max-width: 100%; height: auto;" /></a>
            </div>
            <div class="top-menu">
                <span class="menu"> </span>
                <ul>
                    <nav class="cl-effect-5">
                        <li><a class="#head" class="scroll"><span data-hover="Home">Home</span></a></li>
                        <li><a href="#about" class="scroll"><span data-hover="About">About</span></a></li>
                        <li><a href="#work" class="scroll"><span data-hover="Gallery"><span>Gallery</span></a></li>
                        <li><a href="#360View" class="scroll"><span data-hover="360°"><span>360°</span></a></li>
                        <li><a href="#contact" class="scroll"><span data-hover="Contact">Contact</span></a></li>
                    </nav>
                </ul>
            </div>
            <!--script-nav-->
            <script>
                $("span.menu").click(function () {
                    $(".top-menu ul").slideToggle("slow", function () {
                    });
                });
            </script>
            <div class="clearfix"></div>
        </div>
        <div class="index-banner">
            <div class="wmuSlider example1">
                <div class="wmuSliderWrapper">
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="banner_center">
                                <h1>Welcome to Viswakarma Industries</h1>
                            </div>
                        </div>
                    </article>
                    <article style="position: relative; width: 100%; opacity: 1;">
                        <div class="banner-wrap">
                            <div class="banner_center">
                                <h1>Celebrating 20 years of success.</h1>
                                @*<h2>Services 1 <span>Services 2</span></h2>
                                    <h2>Contrary</h2>*@
                            </div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="banner_center">
                                <h1>
                                    Specialized shuttle manufacturer
                                    in textile industries.
                                </h1>

                            </div>
                        </div>
                    </article>
                </div>

            </div>
            <script src="~/Content/js/jquery.wmuSlider.js"></script>
            <script>
                $('.example1').wmuSlider();
            </script>
        </div>
    </div>
</div>
<div class="content">
    <div class="py-5" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12">
                    <img src="~/Content/images/Aboutus.png" class="img-fluid" />
                </div>
                <div class="col-md-9 col-12 text-md-left text-center">
                    <h3>About us</h3>
                    <p class="f16 lh25">
                        Vishwakarma Industries was a dream of S.R.PATEL Family. It was established in 1971 and the Goal achieved by constant endeavor of Mr.VINOD & Mr.SAHJANAND.
                    </p>
                    <br />
                    <p class="f16 lh25">
                        Our company started to design and manufacture a shuttle which is a tool, neatly designed and compactly store a holder that carries the thread of the weft yarn while weaving with a loom. Shuttles are thrown or passed back and forth through the shed, between the yarn threads of the warp in order to weave in the weft.
                    </p><br />
                    <p class="f16 lh25">
                        Later we introduced a new technology first time in india in hylam block and shuttle to improve the quality and cut down the cost. The new technology is to heat the material with steam and make a cavity block.
                    </p><br />
                    <p class="f16 lh25">
                        We are still working hard to constantly improve the quality of our product to improve customer satisfaction and productivity, which brings us in a good position and most trusted company in hylame shuttle Industries.
                        We have a highly skilled team having years of experience which help us fulfill current and future requirements.
                        With the help of skilled team, loyal customers, dream of our founder and decades of efforts has helped us to expand our business from Gujarat to all over India.
                    </p>
                    @*<div class="clearfix"></div>*@
                    @*<div class="services-sectiongrids">
                            <div class="col-md-6 services-grid">
                                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" />
                                </iframe>
                                <h4>webdesign</h4>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                            </div>
                            <div class="col-md-6 services-grid">
                                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" />
                                </iframe>
                                <h4>webdesign</h4>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="arrow1">
                <a href="#work" class="scroll"><img src="~/Content/images/arrow1.png" alt="" /></a>
            </div>
        </div>
    </div>
    <!-- about-section-ends -->
    <div class="works-section" id="work">
        <div class="works-header">
            <h3>Product Gallery</h3>
        </div>
        <div class="portfolio-section-bottom-row" id="portfolio">
            <div class="container">
                <div id="gallery" style="display:none;">
                    @{
                        for (int i = 2; i <= 23; i++)
                        {
                            string imageThumbpath = "../Content/unitegallery/images/thumbs/image" + @i + ".jpeg";
                            string bigImagepath = "../Content/unitegallery/images/big/image" + @i + ".jpeg";
                            //string bigImagepath = "../Content/unitegallery/images/big/image2.jpg";

                            <img alt="Preview Image 1"
                                 src="@imageThumbpath"
                                 data-image="@bigImagepath"
                                 data-description="">
                        }
                    }

                    @*<img alt="Youtube Video"
                             data-type="youtube"
                             data-videoid="A3PDXmYoF5U"
                             data-description="You can include youtube videos easily!">

                        <img alt="Vimeo Video"
                             data-type="vimeo"
                             src="http://i.vimeocdn.com/video/447294219_200x150.jpg"
                             data-image="http://i.vimeocdn.com/video/447294219_640.jpg"
                             data-videoid="73234449"
                             data-description="This gallery can also play vimeo videos!">*@
                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        jQuery("#gallery").unitegallery({
                            slider_scale_mode: "fit"
                        });
                    });
                </script>
                <div class="arrow">
                    <a href="#360View" class="scroll"><img src="~/Content/images/arrow.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio-section-ends -->
    <!-- 360 view-start -->
    <div class="portfolio-section-bottom-row" id="360View">
        <br />
        <div class="contact-header"><h3>360° View</h3></div>
        <div class="container">
            <br />
            <div id="view360" class="container">
                <a href="#" class="autorotate" id="play"><img src="~/Content/images/Play.jpg" height="70" width="70"></a>
                <a href="#" class="autorotate" id="pause"><img src="~/Content/images/Pause.jpg" height="70" width="70"></a>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="arrow">
            <a href="#contact" class="scroll"><img src="~/Content/images/arrow.png" alt="" /></a>
        </div>
    </div>
    <!-- 360 view-ends -->
</div>
<div class="footer-section" id="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="contact-header">
                    <h3>contact us</h3>
                    <p>Company Address : Plot No 705,  Dehgam  GIDC,  Dehgam, Gandhinagar. 382305 </p>
                </div>
                <div class="social-icon">
                    <a href="https://www.twitter.com/vishwakarmabiz" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/vishwakarmaindustriesbiz" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCWDbdS2uP-2KrTAaZSfMIRg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href="https://www.pinterest.com/vishwakarmaindustriesbiz" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    <a href="https://api.whatsapp.com/send/?phone=919925333484&text&app_absent=0" target="_blank"><i class="fa fa-whatsapp"></i></a>
                </div>
                <div class="contact">
                    <form>
                        <div class="col-md-12 contactgrid">
                            <input type="text" class="text" value=" name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = ' name';}">
                        </div>
                        <div class="col-md-12 contactgrid">
                            <input type="text" class="text" value="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'email';}">
                        </div>
                        <div class="col-md-12 contactgrid">
                            <input type="text" class="text" value="phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'phone';}">
                        </div>
                        <div class="col-md-12 contactgrid1">
                            <textarea onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';">Your Message</textarea>
                        </div>
                        <div class="col-md-12 contactgrid2 mt-3">
                            @*<input type="submit" value="send Email">*@
                            <button type="button" class="btn btn-success">Send Email</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    </br>
                </div>
            </div>
            <div class="col-lg-6 col-12">  <div id="map" style="height: 600px; width:auto;"></div></div>
            <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2021 All rights Reserved by Vishwakarma Industries</p>
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkP9mCP7dkuTV2sZMw9_mRbdFNqGE-ObY&callback=initMap&libraries=&v=weekly"
        async></script>
<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });        
    });

    $(window).load(function () {
        var width = $('#view360').parent().width();
        var height = width / 3;

        $("#view360").tikslus360({ imageDir: '../Content/images/product', imageCount: 36, imageExt: 'jpg', canvasID: 'Product', canvasWidth: width, canvasHeight: height, autoRotate: false });
        $("#pause").hide();
        //$("#view360").tikslus360({ imageDir: '../Content/images/cars', imageCount: 30, imageExt: 'jpg', canvasID: 'Product', canvasWidth: 640, canvasHeight: 480, autoRotate: true });
    });
    function initMap() {
        const myLatLng = { lat: 23.1656, lng: 72.8122 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: myLatLng,
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "Vishwakarma Industries",
        });
    }
</script>

<script src="~/Content/js/jquery.swipebox.min.js"></script>
<link rel="stylesheet" href="~/Content/css/swipebox.css">
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
    jQuery(function ($) {
        $(".swipebox").swipebox();
    });
</script>
<script>
    $("span.menu").click(function () {
        $(".top-menu ul").slideToggle("slow", function () {
        });
    });
</script>
